@import "tailwindcss";

/* Pastikan browser mengizinkan scroll di level paling atas */
html, body {
  background-color: #020617;
  color: white;
  margin: 0;
  padding: 0;
  height: auto !important; /* Jangan kunci tinggi */
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow-y: auto !important; /* Paksa scroll muncul */
  -webkit-overflow-scrolling: touch; /* Haluskan scroll di iPhone */
}

#root {
  min-height: 100vh;
  display: block; /* Hindari flex di root jika bikin masalah */
}

/* Hilangkan scrollbar default agar tidak double */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}